body {
	font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.text-center {
    color:black;
    text-align: center;
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}
header {
    background-color: black;
}
#home {background-image: url('../image/header.webp');
        height: 100px;
}
nav {
    
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav a {
    font-size: 1.2em;
    line-height: 40px;
     height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
  }
  
.page-header {
	height: 50vh;
	background: center 75% /cover no-repeat;
}
.apple {
    float: center;
    margin-left:45%;
    margin-bottom: 5px;
    padding: 2px;
}
.float-img {
    float: center;
    margin-left:12.5%;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
    
}
.inline-image {
    margin: 0 auto;
    width: auto;
    max-width: 728px;
    margin-bottom: 10px;
    height: auto;
    display: block;
   }
.border-inline {
    text-align: justify;
    width: 720px;
    margin-left: 25%;
    
}
.text-uppercase {
    text-transform: uppercase;
}
footer {
    background-color: burlywood;
    padding: 1em;
    text-align: center;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
  }