body {
	font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.text-center {
    color:black;
    text-align: center;
    font-family: 'Merienda One', 'Brush Script MT', cursive;
}
header {
    background-color: black;
}
#home {background-image: url('https://img.freepik.com/free-photo/social-media-audience-crowd-filming-through-smartphones_53876-128944.jpg?w=740&t=st=1662287919~exp=1662288519~hmac=51a9eedb5431dd6ed1f1c435fb7160bca74829586999c41e029269d040f8773e');
        height: 100px;
}
a {
    text-align: left;
}
nav {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav a {
    font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 2.5%;
}
nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
  }
  
.page-header {
	height: 50vh;
	background: center 75% /cover no-repeat;
}
.float-img {
    float: center;
    margin-right: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
}
footer {
    border: solid black 2px;
    padding: 2px;
    background-color: burlywood;
}