@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
body {
	font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.text-center {
    text-align: center;
    
}
header {
    background-color: black;
}
#home {background-image: url('../image/header.webp');
        height: 100px;
}
nav {
    
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
nav a {
    font-size: 1.2em;
    line-height: 40px;
     height: 40px;
    display: inline-block;
    margin-left: 2.5%;
}
nav a:hover {
    background-color: #fff;
    color: #4a4a4f;
  }
  
.page-header {
	height: 50vh;
	background: center 75% /cover no-repeat;
}
#info-box {
  padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 50%;
	margin: 2%;
	background-color: rgb(85, 82, 255);
    position: relative;
    left: 25%;
    top: 20px;
    color:beige;
}
#logo {
  margin-left: 25%;
}

.float-img {
    
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
    
}
.inline-image {
    margin: 0 auto;
    width: auto;
    max-width: 728px;
    margin-bottom: 10px;
    height: auto;
    display: block;
   }
  
.text-uppercase {
    text-transform: uppercase;
}
footer {
    background-color: burlywood;
    padding: 1em;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
  }
  #welcome{
    text-align: center;
    width: 720px;
    margin: 0 auto;
    font-family: 'Merienda One', 'Brush Script MT', cursive;
  }
  #sumsung-table {
    width: 100%;
    background-color:  rgb(219, 244, 245);
  }
  #sumsung-table tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#sumsung-table tr, th, td {
	text-align: center;
}

#sumsung-table th, td {
	border: 1px solid gray;
	padding: 1px;
}
#contact {
  border: none;
  margin-bottom: 50px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#find {
  background-color: black;
  color: #fff;
}