@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
body {
	font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.text-center {
    text-align: center;
    
}

/*header*/
header {
    background-color: black;
}

#home {background-image: url('../image/header.webp');
        height: 150px;
}

/*nav*/
nav {
  display: table;
  margin: auto;
}

  nav a {
   text-decoration: none;
   color: rgb(6, 136, 16);
    display: inline-block;
   margin: 20px;   
   text-align: center;
}

nav a:hover {
    color: #000000;
   font-weight: bold;
}
  
.page-header {
	height: 50vh;
	background: center 75% /cover no-repeat;
}

#info-box {
  padding: 10px 5px 25px 5px;
	border-radius: 8px;
	width: 50%;
	margin: 2%;
	background-color: rgb(172, 171, 236);
  position: relative;
  left: 25%;
  top: 20px;
  color:beige;
}

#logo {
  margin-left: 25%;

}

.float-img {
 
    margin-top: 5px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 2px;
    
}

.inline-image img{
  width: 75%;
  margin-bottom: 10px;
  margin: auto;
}
  
.text-uppercase {
    text-transform: uppercase;
}

/*footer*/
footer {
    background-color: rgb(243, 218, 184);
    padding: 1em;
    bottom: 0;
    right: 0;
    text-align: center;
}

#welcome{
    text-align: center;
    width: 75%;
    margin: auto;
    font-family: 'Open Sans', Arial, sans-serif, cursive;
}
 
.sumsung-table {
    width: 100%;
    margin: 0,auto;
    background-color:  rgb(219, 244, 245);
}

.sumsung-table th, .sumsung-table td {
	text-align: center;
}

.sumsung-table th, .sumsung-table td {
	border: 1px solid gray;
	padding: 1px;
}

#contact {
  border: none;
  margin-bottom: 50px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#find {
  background-color: black;
  color: #fff;
}

/*screen sizeing*/
@media screen and (max-width: 1200px) {
  body {
    padding: 0%;
  }
  nav a {       
    display: inline-block;
    font-size:16px;
    padding: 20px 15px;
    }
}
  
@media only screen and (max-width:721px) {
  nav a {       
        font-size:13px;
        padding: 15px;
        }
        .sumsung-table,
        .sumsung-table > thead,
        .sumsung-table > thead > tr,
        .sumsung-table > thead > tr > th,
        .sumsung-table > tbody,
        .sumsung-table > tbody > tr,
        .sumsung-table > tbody > tr > td {
            display: block;
        }
        
        .sumsung-table > thead {
            position: absolute;
            top: -9999px;
            left: -9999px;
            opacity: 0;
        }
        
        .sumsung-table > tbody > tr > td {
            position: relative;
            padding-left: 45%;
        }
        .sumsung-table > tbody > tr:nth-child(even) > td {
          background-color: #ffffff;
      }
      
      .sumsung-table > tbody > tr:nth-child(odd) > td {
          background-color: #FAFAFA;
      }
              
        .sumsung-table > tbody > tr > td:before {
		    position: absolute;
		    top: 0;
		    left: 5%;
		    width: 40%;
		    white-space: nowrap;
        font-weight: bold;
        }
        
        .sumsung-table > tbody > tr > td :after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            border-right: 1px solid #eee;
        }
        
        .sumsung-table > tbody > tr > td:nth-of-type(1):before {content: "#";}
        .sumsung-table > tbody > tr > td:nth-of-type(2):before {content: "S22";}
        .sumsung-table > tbody > tr > td:nth-of-type(3):before {content: "S23";}
        .sumsung-table > tbody > tr > td:nth-of-type(4):before {content: "S22+";}
        .sumsung-table > tbody > tr > td:nth-of-type(5):before {content: "S23+";}
        .sumsung-table > tbody > tr > td:nth-of-type(6):before {content: "S22 Ultra";}
        .sumsung-table > tbody > tr > td:nth-of-type(7):before {content: "S23 Ultra";}
   
} 
@media screen and (max-width:420px) {
  
  nav a  {
    clear: left;
    float: left;
    margin-left: 30px;
    margin-bottom: 20px;
    line-height: 25px;
  }
   
  #logo {
    width:75%;
    margin: 0;
  }

}